{% extends 'base.html.twig' %}

{% block title %}Réintialiser mon mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="h2 text-center my-4">Réinitialiser mon mot de passe</h1>

    <div class="offset-lg-3 col-lg-6 offset-lg-3 mt-5">
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Veuillez entrer l'adresse email associée à votre compte.
                    Un lien afin de réinitialiser votre mot de passe lui sera envoyée.
                </small>
            </div>

            <button class="my-3 w-100 btn defaultBtn">Envoyer</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
