{% extends 'base.html.twig' %}

{% block title %}Réintialiser mon mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="text-center my-5">Réintialiser mon mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Veuillez entrer l'adresse email associée à votre compte.
                Un lien afin de réinitaliser votre mot de passe lui sera envoyée.
            </small>
        </div>

        <button class="my-3 btn btn-primary">Envoyer mail de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
