{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

{% include 'partials/flashes/error.html.twig' %}
{% include 'partials/flashes/success.html.twig' %}

      <h1 class="h2 mt-4 mb-5 text-center">Conditions générales d'utilisation</h1>
      <div class="mb-5">
        <h2 class="h3">Politique de confidentialité</h2>
        <p>
          Le site <b>lesamisdedereux.fr</b> a été créé en 2021 par Nicolas PAGANI - Étudiant en développement web et web mobile. Le site est hebergée sur xxxxxx.
          Les données personnelles collectées lors de l'inscription (adresse email, pseudonyme) sont utilisées uniquement afin de vous authentifier (adresse email) et de reconnaître vos commentaires (pseudonyme).
        </p>
      </div>
      <hr>
      <div class="my-5">
        <h2 class="h3">Procédure de création et de suppression de compte</h2>
        <p>
          Un utilisateur peut, s'il le souhaite, s'inscrire sur le site via la rubrique <b>"Inscription"</b> du site. Un email contenant un lien de confirmation sera alors envoyé à l'adresse email renseignée.<br>
          L'utilisateur peut à tout moment supprimer son compte via le bouton <b>"Supprimer mon compte"</b> de la page <b>"Mon profil"</b>. Aucune donnée personnelle ne reste enregistrée dans notre base de données après la suppression de l'utilisateur.
        </p>
      </div>
      <hr>
      <div class="my-5">
        <h2 class="h3">Contact</h2>
        <p>
          Vous pouvez, à tout moment, contacter l'administrateur du site, que vous soyez inscrit ou non, via la rubrique <b>"Contact"</b>. Il suffit de renseigner un nom ou un pseudonyme, le sujet de votre message, son contenu, ainsi qu'une adresse email afin qu'une réponse puisse vous être apportée.
        </p>
      </div>

{% endblock %}
