@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Regular.ttf);
}

body{
  font-family: 'Roboto';
}

#articleButton{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  figure{
    margin-bottom: 6%;
  }

  #footerName{
    display: block;
  }

  #homeCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #profilBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}

@media (max-width: 768px) {

  #articleButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #deleteBlogIndex{
    width: 100%;
  }

  #editBlogIndex{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media (max-width: 990px) {

  .createArticleBtn{
    width: 100%;
    margin: auto;
  }

  figure{
    display: none;
  }

   #footerName{
    display: none;
  }

  #homeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profilBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-height: 505px) {

  #registerBtn{
    margin-bottom: 5%;
  }

  #loginBtn{
    margin-bottom: 5%;
  }

}

main > .container {
    padding: 60px 15px 0;
}

figure{
  margin-top: 6%;
}

#header{
  background-color: rgb(67, 40, 24);
}

.cardButton{
  background-color:  rgb(148, 161, 135);
}

#footer{
  background-color: rgb(67, 40, 24);
  margin-top: 10%;
}

.offcanvas-body{
  background-color: rgb(67, 40, 24);
  color: white;
}

.offcanvas-menu, .offcanvas-header{
  background-color: rgb(67, 40, 24);
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.blogArticle{
  overflow-wrap: break-word;
}

body{
  background-color: #fcfbf0;
}

.sortable{
  text-decoration: none;
  background-color: rgb(116, 82, 150);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.sortable:hover{
  color: #382646;
}

.asc{
  text-decoration: none;
  background-color: rgb(116, 82, 150);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.asc:hover{
  color: #382646;
}

.desc{
  text-decoration: none;
  background-color: rgb(116, 82, 150);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.desc:hover{
  color: #382646;
}

.pagination a{
  text-decoration: none;
  background-color: rgb(116, 82, 150);
  color: #ffffff;
  padding: 5px;
  border-radius: 2px;
  color: #ffffff;
  margin: 5px;
}

.pagination a:hover{
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
}

.current{
  color: #382646;
  margin-left: 5px;
  margin-right: 5px;
}

#commentContent{
  word-break: break-word;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

#deleteBtn{
  background: none;
  border: none;
}

.fa-trash{
  color: red;
}

li{
  list-style: none;
}

#profilImg{
  width: 150px;
  height: 150px;
}

.defaultBtn{
  background-color: rgb(41, 82, 74);
  color: #ffffff;
}

.altBtn{
  background-color: rgb(116, 82, 150);
  color: #ffffff;
}

.parent {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}